<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css">
  
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css" media="screen" title="no title">
</head>

<body>
  <!-- layouts/main.handlebars -->
  
<div class="page-wrap">
  
      {{{body}}}

</div>
</body>

<footer class="site-footer">
  <p>&copy; constantcoders 2017</p>
</footer>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

</html>
