
<div class="container" >
    
      <h1>My Class</h1>
        <div class="col-md-4">
          <h3>Announcements</h3>
            <div class="form-group">
              <div class="well well-lg">
                Your Announcements
                {{#each data}}
                  <form action="/educator/update-announcement/{{id}}?_method=PUT" method="POST">
                    <input type="text" name="announcement" value="{{current_announcements}}">
                    <button type="submit">UPDATE</button>
                  </form>
                {{/each}}

              </div>
            </div>
        </div>
        
        <div class="col-md-4">
          <h3>Your class keyword is: </h3>
          <p> To add a new student send them this code and ask them to sign up on the home page <a href="../home.html">Here</a></p>
        </div>

        <div class="col-md-4">
          <h3>Search for a Project </h3>
          <div class="input-group">
            <div class="input-group-btn search-panel">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">Filter by</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li class='sub' >
                  <a tabindex="-1" href="#">Project Name</a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Astronomy</a></li>
                    <li><a href="#">Phenology</a></li>
                  </ul>
                </li>
                <li><a href="#">Location</a></li>
                <li><a href="#">User Name</a></li>
                <li><a href="#">Date</a></li>
                <li class="divider"></li>
                <li><a href="#all">All</a></li>
              </ul>
          </div>
            <input type="hidden" name="search_param" value="all" id="search_param">        
            <input type="text" class="form-control" name="x" placeholder="Search term...">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div> 
        </div>

    </div>
  
      <!-- Thumbnail Projects Display -->
    <div class="container">
        
        <div class="col-lg-12">
            <h1>Class Projects</h1>
        </div>
        <div class="col-lg-2 col-md-3 col-xs-4 ">
          {{#each data}}
          <h4>Title: {{name}}</h4>
            <a class="thumbnail" href="#">
              <img class="img-responsive" src="http://placehold.it/140x100" alt="">
            </a>
          {{/each}}
        </div>
        <div class="col-lg-2 col-md-3 col-xs-4 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/140x100" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-3 col-xs-4 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/140x100" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-3 col-xs-4 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/140x100" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-3 col-xs-4 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/140x100" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-3 col-xs-4 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/140x100" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-3 col-xs-4 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/140x100" alt="">
            </a>
        </div>
        <div class="col-lg-2 col-md-3 col-xs-4 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/140x100" alt="">
            </a>
        </div>
    
    </div>

    <div class="container">
      <div class="col-lg-12">
       <p><a class="btn btn-success btn-lg">Create a New Project</a></p>
      </div>
    </div>


</div>



