<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Enter your observations <span class="member-name"></span></h2>
      </div>
      
      <form class="create-update-form" action="/notes/create" method="POST">
  <div class="form-group">
    <label for="inpuNoteType">Data Type (Needs to be a dropdown list from a look up table)</label>
    <input type="noteType" class="form-control" id="noteType" placeholder="Enter Data Type">
  </div>
  <div class="form-group">
    <label for="inputNote">Enter Data</label>
    <input type="note" class="form-control" id="note" placeholder="Enter Data">
  </div>
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="title" class="form-control" id="title" placeholder="Enter Title">
  </div>
   <div class="form-group">
    <label for="inputDesc">Description</label>
    <input type="description" class="form-control" id="description" placeholder="Enter Description">
  </div>
 <!--  <div class="form-group">
   <label for="exampleInputFile">Upload File</label>
   <input type="file" id="exampleInputFile">
   <p class="help-block">Example block-level help text here.</p>
 </div> -->
  <!-- <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div> -->
  <button type="submit" class="btn btn-default">Submit</button>
</form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>

</body>

</html>
