<!-- educators\my-students.handlebars -->
{{> nav/loggedineducator}}


<br><br><br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
    	OOPS!
      <!-- <h3>{{data.project.name}}</h3> -->
    </div>
    <div class="panel-body">
      
       
		    <br><br><br>
		    	

              <div><h4>Sorry there are no field notes from   {{data.student.username}} </h4></div>
			     
		      
		    
		  

		</div>
	</div>
</div>


