
* {
  margin: 0;
}
html, body {
  height: 100%;
}

.container {
  height: 100%;
}

form.signup,
form.login {
  margin-top: 50px;
}

/*required input field. this doesn't work yet*/

input.required:after { content: " *"; }

/*hides feild in login forms*/
#studentorteacher{
  visibility: hidden;
}

/*dropdown menu function*/
 li.sub ul {
display:none;
position: absolute; left: 100%; top:0;}

li.sub:hover ul{
display: block;}


/*for thumbnail project gallery on studentview.html*/
.thumb {
    margin-bottom: 30px;
}


/*working to get the image to merge with navbar on home.html*/
.homenav{
  margin-bottom : 0;
}

.apptitle{
  color: white;
  font-size: 10em;
  text-orientation: center;
}

.functionrow{
  height: 100%;
  padding: 20px
}

/*image at top of home.html*/
.homebackground{
  background: url('../images/aerial_shrubland.jpg') no-repeat center center scroll; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 10em;
  margin: 0;
  padding-top: 0px;
}

/*map image form home.html*/
.mapbackground{
  background: url("../images/googlemap.png")no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 35em;
  margin: 0;
  padding-top: 0px;
}

#contact_form{
  padding-bottom: 0px;
}

/*contact element*/
#success_message{ display: none;}

/*to make the footer sticky*/
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}

footer {
  background: #2C3E50;
  clear: both;
  color: white;
  text-align: center;
  height: 50px;
  line-height: 50px;
  }