



    <h2>Enter data</h2>

    <input type="file" id="file-input">
    <p id="status">Please select a file</p>
    <img style="border:1px solid gray;width:300px;"  id="preview" src="/images/default.png">

    <h2>Your information</h2>

    <form method="POST" action="/save-details">
      <input type="hidden" id="avatar-url" name="avatar-url" value="/images/default.png">
      <input type="text" name="username" placeholder="Username"><br>
      <input type="text" name="full-name" placeholder="Full name"><br><br>

      <hr>
      <h2>Save changes</h2>

      <input type="submit" value="Update profile">
    </form>

  <form class="create-update-form" action="/notes/create/{{this.projectid}}/{{this.studentid}}" method="POST">
  <div class="form-group">
    <label for="inputNote">Enter Data</label>
    <input type="note" class="form-control" id="note" name="doclink" placeholder="Enter Data">
  </div>
  <div class="form-group">
    <label for="inpuNoteType">Data Type: </label>
    <input type="radio"  name="doctype" value="picture"> Image
    <input type="radio"  name="doctype" value="film"> Video
    <input type="radio"  name="doctype" value="file"> Document
    <input type="radio"  name="doctype" value="temperature-settings"> Weather
  </div>
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="title" class="form-control" id="title" name="title"
  placeholder="Enter Title">
  </div>
   <div class="form-group">
    <label for="inputDesc">Description</label>
    <input type="description" class="form-control" id="description" name="description" placeholder="Enter Description">
  </div>
  <div class="form-group">
    <label for="inputnotedate">Enter Date</label>
    <input type="notedate" class="form-control" id="notedate"  name="notedate" placeholder="Enter Date">
  </div>

 <input type="hidden" class="form-control" id="notedate"  name="ProjectId" value="{{this.projectid}}">
 <input type="hidden" class="form-control" id="notedate"  name="StudentId" value="{{this.studentid}}">
 <button type="submit" class="btn btn-default">Submit</button>
</form>

<script>

    /*
      Function to carry out the actual PUT request to S3 using the signed request from the app.
    */
    function uploadFile(file, signedRequest, url){
      const xhr = new XMLHttpRequest();
      xhr.open('PUT', signedRequest);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            document.getElementById('preview').src = url;
            document.getElementById('avatar-url').value = url;
          }
          else{
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(file);
    }

    /*
      Function to get the temporary signed request from the app.
      If request successful, continue to upload the file using this signed
      request.
    */
    function getSignedRequest(file){
      const xhr = new XMLHttpRequest();
      debugger;
      xhr.open('GET', `/notes/sign-s3?file-name=${file.name}&file-type=${file.type}`);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            const response = JSON.parse(xhr.responseText);
            uploadFile(file, response.signedRequest, response.url);
          }
          else{
            alert('Could not get signed URL.');
          }
        }
      };
      xhr.send();
    }

    /*
     Function called when file input updated. If there is a file selected, then
     start upload procedure by asking for a signed request from the app.
    */
    function initUpload(){
      const files = document.getElementById('file-input').files;
      const file = files[0];
      if(file == null){
        return alert('No file selected.');
      }
      getSignedRequest(file);
    }

    /*
     Bind listeners when the page loads.
    */
    (() => {
        document.getElementById('file-input').onchange = initUpload;
    })();

    <{{!}}/script>

