{{#if userEducator}}
    {{> nav/loggedineducator}}
{{else}}
  {{>nav/loggedinstudent}}
{{/if}}

      <div class="tanbackground">
        <div class="container">
          <div class="functionrow">
              <div class="col-lg-12">
                <h2 class="page-header">About Locus</h2>
                <p>Locus is a web application designed to encourage high school and college students to participate in science and to teach each other . It helps students understand and enjoy science by collaborating on simple experiments with students from different parts of the globe. The application includes a form for the students to post their observations in the form of document links, data files or even pictures. This data is stored in a MySQL database and displayed on the landing page of the student. The students will also be able to view data entered by other students and post comments.</p>
                <h2 class="page-header">Our Team</h2>
              </div>
                <div class="col-lg-4 col-sm-4 text-center">
                    <img class="img-circle img-responsive img-center" src="images/sunita.png" alt="">
                    <h3>Sunita Chowdhury
                        <small>Full Stack Web Developer</small>
                    </h3>
                    <p>Full stack web application developer proficient with JavaScript, JQuery, HTML5, Bootstrap, Node, Express, React, RESTful Api, JSON, Java, JSP, Sequelize, Handlebars, EJS, PHP, MongoDB and SQL.</p>
                </div>
               
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-circle img-responsive img-center" src="images/kathleen.png" alt="">
                    <h3>Kathleen Catlett
                        <small>Full Stack Web Developer</small>
                    </h3>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-circle img-responsive img-center" src="images/anna.png" alt="">
                    <h3>Anna Kimtis
                        <small>UI/UX Developer</small>
                    </h3>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
          </div>
        </div>
      </div>
  
      <div class="aboutbackground">
        <div class="container">
          <div class ="functionrow">
            <div class="container">
              <div class="row">
                <form class="well form-horizontal" action=" " method="post"  id="contact_form">
                  <fieldset>

                    <!-- Form Name -->
                    <legend><h3>Contact Us</h3></legend>

                    ConstantCoders1@gmail.com

                    <!-- Text input-->
                  <!--   <div class="form-group">
                      <label class="col-md-4 control-label">Name</label>  
                      <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
                        </div>
                      </div>
                    </div>
 -->
                    <!-- <div class="form-group">
                      <label class="col-md-4 control-label">E-Mail</label>  
                        <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                      <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
                        </div>
                      </div>
                    </div> -->
                           
                    <!-- <div class="form-group">
                      <label class="col-md-4 control-label">Phone #</label>  
                        <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                      <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
                        </div>
                        </div>
                    </div> -->
                      
                   <!--  <div class="form-group">
                      <label class="col-md-4 control-label">Message</label>
                        <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                          <textarea class="form-control" name="comment" placeholder="Write us a message"></textarea>
                        </div>
                        </div>
                    </div> -->
                   <!--  </div> -->

                    <!-- <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div> -->

                    <!-- Submit Button -->
                    <!-- <div class="form-group">
                      <label class="col-md-4 control-label"></label>
                      <div class="col-md-4">
                        <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
                      </div>
                    </div> -->
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>