<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Class Map</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
     <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
  </head>
  <body>
    <div id="map"></div>
    <script>
      console.log("public/studentmap")
      document.getElementById("proj").innerHTML = window.location.search;

      // var project=req.params.proj
      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: {lat: 37.775, lng: -122.434},
        });

        
       
         var markers = locations.map(function(locations, i) {
          return new google.maps.Marker({
            position: locations.place,
          });
          console.log("markers:  "+ markers)
        };

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
       }

}


    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIGy493c6wH8i1UTUA-03QwEOzsEpuV78&callback=initMap">
    </script>
   
  </body>

</html>