
<!-- applicaton\educator-login.handlebars -->

<div class="container" >
    <div class="row">
      <form class="form-horizontal login">
        <fieldset>
          <legend>Educator Login</legend>

            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
              <input class="form-control" id="email-input" placeholder="Email" type="text">
              </div>
            </div>
          
           <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
            <input class="form-control" id="password-input" placeholder="Password" type="password">
            </div>
          </div>

          </fieldset>
        
          <br />
          <p>Or Sign Up <a href="/signup/educator">Here</a></p>
                   <button type="submit" class="btn btn-success" class="login-button">Login</button>
         </form>
      </div>
    </div>