<h1>data.project.name</h1>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Project Name</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Username</th>
            <th>Link to Student Data</th>
            <th>Email</th>
          </tr>
        </thead>
		    <tbody>
		    	{{#each data.students}}
			      <tr>
			        <td>Name</td>
			        <td>{{username}}</td>
			        <td><a href="/educator/student-data/{{id}}""><span class="glyphicon glyphicon-file"></span></a></td>
			        <td>{{email}}</td>
			      </tr>
		      {{/each}}
		    </tbody>
		  </table> 
		</div>
	</div>
</div>


